<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Invoice #</th>
    <th>Details</th>
    <th>Nominal</th>
    <th>Case Ref.</th>
    <th>Client</th>
    <th class="receipt_no">Receipt #</th>
    <th class="text-right">Alloc Amount</th>
    <th class="text-right">VAT</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <%= render @allocations %>
  </tbody>
</table>