<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">X</button>
      <h4 class="modal-title">Allocations</h4>
    </div>

    <div class="modal-body">
      <%= render 'allocation_table' %>
    </div>
  </div>
</div>