<div class="footer" style="position:fixed;left:0;bottom:0;width:100%;background-color:#5b727d;color: #CFD8DC;text-align:center;">
  <p>&copy; Copyright <%= Time.now.strftime("%Y")%> Workshape - All Rights Reserved</p>
</div>